.container {
    @include box(65rem, 35rem);

    &__side {
        @include box(15%, 100%);
        @include center(column);
        float: left;
    }

    &__big {
        @include box(85%, 100%);
        @include center(column);
        border-radius: 10px;
        background-color: #242424;
    }

    &__list {
        list-style-type: none;
        margin-bottom: 1rem;
        background-color: burlywood;
        @include center;
        @include box(100%, 3rem);
    }

    &__upload {
        width: 50%;
        background-color: gold;
    }
}