.btn {
    background-color: #1c1b1a;
    color: #b1b5b2;
    border: none;
    width: 100px;
    height: 35px;
    margin: 2.5px;
    border-radius: 10px;

    &--large {
        width: 200px;
        height: 40px;
    }
}