@import "./mixins/mixin";
@import "./container/container";
@import "./character/character";
@import "./modal/modal";
@import "./effects/effects";


/*
types:['bug', 'dark', 'dark', 'dragon', 'electric', 'fairy', 'fighting', 'fire', 'flying',
'ghost', 'grass', 'ground', 'ice', 'normal', 'poison', 'psychic', 'rock', 'steel', 'water']    
*/

$colors:(bug: #7DD11F, dark: #5B5462, dragon: #423ACB, electric: #E9ED37, fairy: #FC5FE5,
fighting: #DA0F57, fire: #FBAD35, flying: #A7ABEE, ghost: #6F49BE, grass: #34D156, 
ground: #DC7C3F, ice: #66D7C2, normal: #9EA29D, poison: #C500D0, psychic: #FF7A78, 
rock: #C4C485, steel: #5492A4, water: #6386E3);

@each $colorKey, $colorValue in $colors {
    .#{$colorKey}--text {
       color: $colorValue !important
    }
}

html, body {
    margin: 0;
    @include center;
    @include box(100%);
}