.modal {
    @include box(100%);
    @include center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: transparent;
    z-index: 2;
    
    &__content {
        @include box(45rem, 37rem);
        background-color: whitesmoke;
    }
}