.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      margin: 5px;
      cursor: pointer;
    }
  }
}

.skill {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &-id {
    margin: 5px;
    color: #fafafa;
    font-size: 12px;
  }

  &-name {
    margin: 5px;
    color: #fafafa;
    font-size: 11px;
  }
}
